Repository honeybadger-io/honeybadger-js, pull requests merged in 2022-11, with the labels that each got.

#952 fix: webpack compilaton issues
  packages/webpack/package-lock.json
  packages/webpack/package.json
  packages/webpack/src/HoneybadgerSourceMapPlugin.js
Labels: bug, webpack

#950 fix: exit process on unhandledRejection
  packages/js/rollup.config.js
  packages/js/src/server/integrations/uncaught_exception.ts
  packages/js/src/server/integrations/unhandled_rejection.ts
  tsconfig.base.json
Labels: js

#963 docs(webpack): update documentation links in readme
  packages/webpack/README.md
Labels: webpack
