Repository honeybadger-io/honeybadger-js, pull requests merged in 2023-06, with the labels that each got.

#1071 feat(nextjs): app router support
  packages/nextjs/README.md
  packages/nextjs/src/copy-config-files.ts
  packages/nextjs/templates/_error_app_router.js
  packages/nextjs/templates/_error_app_router.tsx
Labels: nextjs

#1069 feat(react-native)!: include the features of the core js project
  packages/react-native/.gitignore
  packages/react-native/.npmignore
  packages/react-native/README.md
  packages/react-native/examples/expo-app/App.js
  packages/react-native/examples/expo-app/android/app/src/main/AndroidManifest.xml
  packages/react-native/examples/expo-app/ios/Podfile.lock
  packages/react-native/examples/expo-app/ios/expoapp.xcodeproj/project.pbxproj
  packages/react-native/examples/expo-app/ios/expoapp/Supporting/Expo.plist
  packages/react-native/examples/expo-app/modules/throw-err-module/android/build.gradle
  packages/react-native/examples/expo-app/modules/throw-err-module/android/src/main/AndroidManifest.xml
  packages/react-native/examples/expo-app/modules/throw-err-module/android/src/main/java/expo/modules/thowerrmodule/ThrowErrModule.kt
  packages/react-native/examples/expo-app/modules/throw-err-module/android/src/main/java/expo/modules/thowerrmodule/ThrowErrModuleView.kt
  packages/react-native/examples/expo-app/modules/throw-err-module/expo-module.config.json
  packages/react-native/examples/expo-app/modules/throw-err-module/index.ts
  packages/react-native/examples/expo-app/modules/throw-err-module/ios/ThrowErrModule.podspec
  packages/react-native/examples/expo-app/modules/throw-err-module/ios/ThrowErrModule.swift
  packages/react-native/examples/expo-app/modules/throw-err-module/ios/ThrowErrModuleView.swift
  packages/react-native/examples/expo-app/modules/throw-err-module/src/ThrowErrModule.ts
  packages/react-native/examples/expo-app/modules/throw-err-module/src/ThrowErrModule.types.ts
  packages/react-native/examples/expo-app/modules/throw-err-module/src/ThrowErrModule.web.ts
  packages/react-native/examples/expo-app/modules/throw-err-module/src/ThrowErrModuleView.tsx
  packages/react-native/examples/expo-app/modules/throw-err-module/src/ThrowErrModuleView.web.tsx
  packages/react-native/examples/expo-app/package-lock.json
  packages/react-native/examples/expo-app/package.json
  packages/react-native/examples/react-native-cli/App.tsx
  packages/react-native/examples/react-native-cli/ios/Podfile.lock
  packages/react-native/examples/react-native-cli/package-lock.json
  packages/react-native/examples/react-native-cli/package.json
  packages/react-native/index.d.ts
  packages/react-native/index.js
  packages/react-native/package-lock.json
  packages/react-native/package.json
  packages/react-native/rollup.config.mjs
  packages/react-native/src/androidUtils.ts
  packages/react-native/src/index.ts
  packages/react-native/src/iosUtils.ts
  packages/react-native/src/transport.ts
  packages/react-native/src/types.ts
  packages/react-native/tsconfig.json
Labels: react-native

#1083 fix(react): update types to work with react 18
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/HoneybadgerErrorBoundary.tsx
  packages/react/src/index.test.tsx
Labels: react

#1076 chore(nextjs): add next.js example apps
  .eslintignore
  .github/workflows/node.js.yml
  package-lock.json
  packages/nextjs/examples/app-router/.env.local.example
  packages/nextjs/examples/app-router/.eslintrc.json
  packages/nextjs/examples/app-router/.gitignore
  packages/nextjs/examples/app-router/README.md
  packages/nextjs/examples/app-router/app/counter/page.tsx
  packages/nextjs/examples/app-router/app/data-fetching/page.tsx
  packages/nextjs/examples/app-router/app/error.tsx
  packages/nextjs/examples/app-router/app/favicon.ico
  packages/nextjs/examples/app-router/app/global-error.tsx
  packages/nextjs/examples/app-router/app/globals.css
  packages/nextjs/examples/app-router/app/layout.tsx
  packages/nextjs/examples/app-router/app/page.tsx
  packages/nextjs/examples/app-router/honeybadger.browser.config.js
  packages/nextjs/examples/app-router/honeybadger.edge.config.js
  packages/nextjs/examples/app-router/honeybadger.server.config.js
  packages/nextjs/examples/app-router/middleware.ts
  packages/nextjs/examples/app-router/next.config.js
  packages/nextjs/examples/app-router/package-lock.json
  packages/nextjs/examples/app-router/package.json
  packages/nextjs/examples/app-router/postcss.config.js
  packages/nextjs/examples/app-router/public/next.svg
  packages/nextjs/examples/app-router/public/vercel.svg
  packages/nextjs/examples/app-router/tailwind.config.js
  packages/nextjs/examples/app-router/tsconfig.json
  packages/nextjs/examples/pages-router/.env.local.example
  packages/nextjs/examples/pages-router/.gitignore
  packages/nextjs/examples/pages-router/README.md
  packages/nextjs/examples/pages-router/honeybadger.browser.config.js
  packages/nextjs/examples/pages-router/honeybadger.edge.config.js
  packages/nextjs/examples/pages-router/honeybadger.server.config.js
  packages/nextjs/examples/pages-router/next.config.js
  packages/nextjs/examples/pages-router/package-lock.json
  packages/nextjs/examples/pages-router/package.json
  packages/nextjs/examples/pages-router/pages/_app.js
  packages/nextjs/examples/pages-router/pages/_error.js
  packages/nextjs/examples/pages-router/pages/client/test1.js
  packages/nextjs/examples/pages-router/pages/client/test2.js
  packages/nextjs/examples/pages-router/pages/client/test3.js
  packages/nextjs/examples/pages-router/pages/client/test4.js
  packages/nextjs/examples/pages-router/pages/client/test5.js
  packages/nextjs/examples/pages-router/pages/client/test6.js
  packages/nextjs/examples/pages-router/pages/client/test7.js
  packages/nextjs/examples/pages-router/pages/client/test8.js
  packages/nextjs/examples/pages-router/pages/index.js
  packages/nextjs/examples/pages-router/pages/server/test1.js
  packages/nextjs/examples/pages-router/pages/server/test2.js
  packages/nextjs/examples/pages-router/pages/server/test3.js
  packages/nextjs/examples/pages-router/pages/server/test4.js
  packages/nextjs/package.json
Labels: nextjs
