Repository honeybadger-io/honeybadger-js, pull requests merged in 2023-07, with the labels that each got.

#1107 feat: specify notifier per package
  packages/core/src/client.ts
  packages/core/src/types.ts
  packages/js/package-lock.json
  packages/js/package.json
  packages/js/src/browser.ts
  packages/js/src/server.ts
  packages/js/test/unit/browser.test.ts
  packages/js/test/unit/server.test.ts
  packages/react-native/package-lock.json
  packages/react-native/package.json
  packages/react-native/rollup.config.mjs
  packages/react-native/src/index.ts
  packages/react-native/src/transport.ts
  packages/react-native/test/index.test.ts
  packages/react-native/test/transport.test.ts
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/rollup.config.js
  packages/react/src/index.test.tsx
  packages/react/src/index.tsx
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/rollup.config.js
  packages/vue/src/index.js
  packages/vue/test/unit/specs/HoneyBadgerVue.spec.js
Labels: vue, js, react, react-native, nextjs

#1130 feat(nextjs): support project structure under src folder
  .github/workflows/node.js.yml
  packages/js/package-lock.json
  packages/nextjs/jest.config.js
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/nextjs/rollup.config.js
  packages/nextjs/src/copy-config-files-exec.ts
  packages/nextjs/src/copy-config-files.test.ts
  packages/nextjs/src/copy-config-files.ts
Labels: nextjs

#1096 chore(nextjs): add generateMetadata example error
  packages/nextjs/examples/app-router/README.md
  packages/nextjs/examples/app-router/app/counter/page.tsx
  packages/nextjs/examples/app-router/app/data-fetching/page.tsx
  packages/nextjs/examples/app-router/app/error.tsx
  packages/nextjs/examples/app-router/app/global-error.tsx
  packages/nextjs/examples/app-router/app/metadata-example/page.tsx
  packages/nextjs/examples/app-router/app/page.tsx
  packages/nextjs/examples/app-router/honeybadger.browser.config.js
  packages/nextjs/examples/app-router/honeybadger.edge.config.js
  packages/nextjs/examples/app-router/honeybadger.server.config.js
  packages/nextjs/examples/app-router/middleware.ts
  packages/nextjs/examples/app-router/package-lock.json
Labels: nextjs

#984 feat: allow async beforeNotify functions to modify the notice object
  packages/core/src/client.ts
  packages/core/src/types.ts
  packages/core/src/util.ts
  packages/core/test/client.test.ts
  packages/core/test/helpers.ts
  packages/core/test/util.test.ts
  packages/js/src/browser.ts
  packages/js/test/integration/browsers.js
  packages/js/test/unit/helpers.ts
Labels: js
